*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 25%);
  max-height: 100vh;
}

/* board */
.board {
  display: grid;
  grid-template-rows: 120px 20px 120px 20px 120px;
  grid-template-columns: 120px 20px 120px 20px 120px;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.cell {
  height: 120px;
  width: 120px;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.border {
  background-color: rgb(198, 40, 219);
}

.border:nth-child(7),
.border:nth-child(15) {
  width: 160px;
  grid-column: 2/5;
}

.border:nth-child(2),
.border:nth-child(4),
.border:nth-child(18),
.border:nth-child(20) {
  height: 135px;
  width: 20px;
}

.border:nth-child(2),
.border:nth-child(4) {
  position: relative;
  bottom: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.border:nth-child(18),
.border:nth-child(20) {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.border:nth-child(6),
.border:nth-child(8),
.border:nth-child(14),
.border:nth-child(16) {
  height: 20px;
  width: 135px;
}

.border:nth-child(6),
.border:nth-child(14) {
  position: relative;
  right: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.border:nth-child(8),
.border:nth-child(16) {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/*x and circle */

.cell.circle,
.cell.x {
  cursor: auto;
}

.cell.x::after,
.cell.x::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 100px;
  background-color: #000;
}

.cell.x::after {
  transform: rotate(45deg);
}

.cell.x::before {
  transform: rotate(-45deg);
}

.cell.circle::after,
.cell.circle::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #000;
  border-radius: 50%;
}

.cell.circle::after {
  background-color: #414141;
  width: 70px;
  height: 70px;
}

/*x and circle hover*/

.board:not(.player-circle-turn) > .cell:hover:not(.cell.x, .cell.circle)::after,
.board:not(.player-circle-turn)
  > .cell:hover:not(.cell.x, .cell.circle)::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 100px;
  background-color: rgb(41, 39, 39);
}

.board:not(.player-circle-turn)
  > .cell:hover:not(.cell.x, .cell.circle)::after {
  transform: rotate(45deg);
}

.board:not(.player-circle-turn)
  > .cell:hover:not(.cell.x, .cell.circle)::before {
  transform: rotate(-45deg);
}

.board:not(.player-x-turn) > .cell:hover:not(.cell.x, .cell.circle)::after,
.board:not(.player-x-turn) > .cell:hover:not(.cell.x, .cell.circle)::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgb(41, 39, 39);
  border-radius: 50%;
}

.board:not(.player-x-turn) > .cell:hover:not(.cell.x, .cell.circle)::after {
  background-color: #414141;
  width: 70px;
  height: 70px;
}

/* Message box */

#end-game-message {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1;
}

#end-game-message.visible {
  display: flex;
}

#end-game-message > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsla(0, 0%, 25%, 0.5);
  height: 430px;
  width: 430px;
}

.restart-button {
  background-color: hsl(0, 0%, 25%);
  border: solid;
  border-radius: 10%;
  color: hsl(0, 0%, 70%);
  padding: 0;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  height: 50px;
  width: 100px;
  cursor: pointer;
}

#text {
  margin: 15px;
  text-align: center;
  font-size: 48px;
  color: hsl(0, 0%, 70%);
  height: 50px;
  min-width: 100px;
}
